<!-- Background image-->
{%- assign backImg = "assets/img/geoBackground.png" -%}
<style>
body {
  background-image: url('{{backImg | relative_url}}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
      list-style-type: none;
    }
</style> 

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    <!-- Profile Image -->
        {%- assign portLogo = "assets/img/bonnyLogo.jpg" -%}
        <img src="{{portLogo | relative_url}}" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>
    <!-- Contact Links-->
     {%- assign gitLogo = "assets/img/githubLogoB.png" -%}
     {%- assign linkedLogo = "assets/img/linkedInLogo.png" -%}
     {%- assign youtubeLogo = "assets/img/youtubeLogo.png" -%}
     {%- assign itchLogo = "assets/img/itchIcon.png" -%}
        <p>
          <a href="https://github.com/AliClark2023">
            <img src ="{{gitLogo | relative_url}}" width="32" height="32" alt = "Clickable GitHub Link">
          </a>
           <a href="https://aliclarkdev.itch.io/">
            <img src ="{{itchLogo | relative_url}}" width="35" height="32" alt = "Clickable Itch.io Link">
          </a>
          <a href="https://linkedin.com/in/alistairclarkdev">
            <img src ="{{linkedLogo | relative_url}}" width="40" height="32" alt = "Clickable LinkedIn Link">
          </a>
          <a href="https://www.youtube.com/@AClarkIsADev">
            <img src ="{{youtubeLogo | relative_url}}" width="40" height="32" alt = "Clickable Youtube Link">
          </a>
        </p>

    <!-- page links -->
        {%- for page in site.pages -%}
            <span style="font-size: 20px;"><a href="{{ page.url }}">{{ page.title | escape }}</a></span>&nbsp
        {%- endfor -%}

    <!-- 
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
     -->

      </header>

     

      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
